@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pixel Board</h1>
    
    <div class="board-container">
        @foreach (int pixel in Model.Pixels) {
            <div class="pixel" style="background-color: hsl(@pixel,50%,50%);"></div>
        }
    </div>
</div>
