@page
@model PixelBoard.StudentClient.UserModel
@{ }

<div class="text-center">
    <h1 class="display-5">User Page</h1>

    <p>Logged in as @Model.UserName.</p>

    @if (!string.IsNullOrEmpty(Model.TeamName))
    {
        <p>Team: @Model.TeamName</p>
    }
    else
    {
        <p>You are not assigned to any team.</p>
    }

    <form method="post">
        <div>
            <label for="Name">Display Name:</label>
            <input type="text" id="Name" name="SubmitDisplayName" required />
        </div>

        <button type="submit">Register to Pixel Board Game</button>
    </form>
</div>

@if (!Model.ViewData.ModelState.IsValid)
{
    <div class="validation-summary-errors">
    Encountered errors:
    <ul>
        @foreach (var error in Model.ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}